{{#each posts as |post|}}
<div class="blog-post">
  <p><strong><a href="/post/{{post.id}}">{{post.title}}</a></strong></p>
  <p>{{post.body}}... <a href="/post/{{post.id}}">Read More</a></p>
  <p>Posted by {{post.user.username}} on {{post.createdAt}}</p>
</div>
{{/each}}
